<!DOCTYPE html>

<head>
    <title>Effugio</title>
    {{!-- <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"> --}}
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
</head>
<hr>

<body>
    <div class="container">
         {{#each deed}}
        <p>{{karmaCount}}</p>
        
        {{/deed}} 
    </div>
</body>