<!DOCTYPE html>

<head>
    <title>Effugio</title>
    {{!--
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"> --}} {{!--
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"> --}}
</head>
<hr>

<body>
    <div class="row"></div>
    <form method="post">
        <div class="col col-lg-10">
            <textarea class="form-control" cols="100" rows="2" placeholder="Add your good deeds!" id="description" name="description" required></textarea>
            <br/>
            <textarea class="form-control" cols="5" rows="1" placeholder="Hours" id="hours" name="hours" required></textarea>
        </div>
        <button class="btn btn-primary">Post</button>
    </form>

    </div>
    <div class="container">
        {{#each deed}}
        <div class="row">
            <div class="twPc-div">
                <a class="twPc-bg twPc-block"></a>
                <div>
                    <div class="twPc-button">
                        <!-- Twitter Button | you can get from: https://about.twitter.com/tr/resources/buttons#follow -->
                        <a href="#" mertskaplanmertskaplan class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="false"
                            data-dnt="true">View Profile</a>
                        <script>!function (d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                                if (!d.getElementById(id)) {
                                    js = d.createElement(s);
                                    js.id = id;
                                    js.src = p + '://platform.twitter.com/widgets.js';
                                    fjs.parentNode.insertBefore(js, fjs);
                                }
                            }(document, 'script', 'twitter-wjs');</script>
                        <!-- Twitter Button -->
                    </div>

                    {{!-- <a title="Mert Salih Kaplan" href="https://twitter.com/mertskaplan" class="twPc-avatarLink">
                        <img alt="Mert Salih Kaplan" src="https://pbs.twimg.com/profile_images/378800000352678934/34f9e192635975bf42e534434e2b6273_bigger.jpeg"
                            class="twPc-avatarImg" />
                    </a> --}}

                    <div class="twPc-divUser">
                        <div class="twPc-divName">
                            <p>{{userName}}</p>
                        </div>
                    </div>
                    <div class="deed">
                        <div class="deed-description">
                            <p>{{description}}</p>
                        </div>
                    </div>
                </div>
                <div class="twPc-divStats">
                    <ul class="twPc-Arrange">
                        <li class="twPc-ArrangeSizeFit Deed">
                            <a href="https://twitter.com/mertskaplan" title="9.840 Tweet">
                                <span class="twPc-StatLabel twPc-block">Deed Rating</span>
                                <span class="twPc-StatValue">{{karmaCount}}</span>
                            </a>
                        </li>
                        <li class="twPc-ArrangeSizeFit Karma">
                            <a href="https://twitter.com/mertskaplan/following" title="885 Following">
                                <span class="twPc-StatLabel twPc-block">Karma Rating</span>
                                <span class="twPc-StatValue">{{karmaPoints}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 form-group">
                            <label for="rating">Rate Deed</label>
                            <select class="custom-select form-control" name="rating" id="rating">
                                {{#select user.rating}}
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                                <option value="60">60</option>
                                <option value="70">70</option>
                                <option value="80">80</option>
                                <option value="90">90</option>
                                <option value="100">100</option>
                                {{/select}}
                            </select>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</body>